.wrapper_usesr_page{
    width: 81%;
    height: auto;
    margin: 0 auto;

    .wrapper_user_card{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .wrapper_user_info {
            display: flex;
            margin-bottom: 30px;
            width: 50%;
            height: 100px;
            border: solid #393939;
            border-radius: 9px;
            border-width: 3px;
            padding: 10px;
            font-size: 16px;
            align-items: center;
            justify-content: space-around;

        
        .wrapper_user_logo {
            width: 13%;
            border-radius: 50%;        
        }

        .text_info_user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        .title_name_user {
            font-size: 2em;
            margin-left: 20px;
            color: #0ba8a2
        }
    }

    .wrapper_favorites_card {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title_favorites_card {
            font-size: 34px;
            color: #0ba8a2;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .wrapper_render_card{
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
        }
    }
    .number_info {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    
    .wrapper_user_logo {
        width: 10%;  
        margin-right: 10px;   
    }

    .fio_info {
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 50%;
    }

    .btn_exit {
        margin-top: 10px;
        width: 120px;
    }

    }
}