.wrapper_usesr_page {
  width: 81%;
  height: auto;
  margin: 0 auto;
}
.wrapper_usesr_page .wrapper_user_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  width: 50%;
  height: 100px;
  border: solid #393939;
  border-radius: 9px;
  border-width: 3px;
  padding: 10px;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_user_info .wrapper_user_logo {
  width: 13%;
  border-radius: 50%;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_user_info .text_info_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_user_info .title_name_user {
  font-size: 2em;
  margin-left: 20px;
  color: #0ba8a2;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_favorites_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_favorites_card .title_favorites_card {
  font-size: 34px;
  color: #0ba8a2;
  font-weight: 600;
  margin-bottom: 30px;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_favorites_card .wrapper_render_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper_usesr_page .wrapper_user_card .number_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.wrapper_usesr_page .wrapper_user_card .wrapper_user_logo {
  width: 10%;
  margin-right: 10px;
}
.wrapper_usesr_page .wrapper_user_card .fio_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  width: 50%;
}
.wrapper_usesr_page .wrapper_user_card .btn_exit {
  margin-top: 10px;
  width: 120px;
}