.wrapper_moveList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  height: auto;
  margin: 0 auto;
  color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.wrapper_moveList .wrapper_add_managers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 16px;
}
.wrapper_moveList .wrapper_managers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 16px;
}
.wrapper_moveList .wrapper_card_managers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 660px;
  border: 2px solid;
  border-radius: 10px;
  height: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 600;
  padding: 10px;
}
.wrapper_moveList .wrapper_user_logo {
  width: 10%;
  margin-right: 10px;
}
.wrapper_moveList .fio_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  width: 50%;
}
.wrapper_moveList .number_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  width: 32%;
}
.wrapper_moveList .button_edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 5%;
}