.card {
  height: 275px;
  width: 215px;
  border-radius: 8px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  gap: 8px;
  padding: 10px;
  font-size: 15px;
}

.wrapper_taskName {
  height: 40%;
}

.taskName {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wrapper_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}