
.wrapper_all {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #393939;

    .wrapper_entry {
        display: flex;
        color: #fab400;
        justify-content: center;
        padding-top: 50px;
        font-size: 40px;
    }

    .wrapper_entry_user {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .wrapper_btn {
        display: flex;
        gap: 10px;
        margin: 10px 0;
    }

    .title {
        font-family: 'Handjet', cursive;
    }

    .alarmMsg {
        width: 433px;
        height: 50px;
        font-size: 14px;
    }
}


