.wrapper_all {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #393939;
}
.wrapper_all .wrapper_entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fab400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  font-size: 40px;
}
.wrapper_all .wrapper_entry_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
.wrapper_all .wrapper_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.wrapper_all .title {
  font-family: "Handjet", cursive;
}
.wrapper_all .alarmMsg {
  width: 433px;
  height: 50px;
  font-size: 14px;
}