.wrapper_moveList .wrapper_title_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  position: relative;
  top: -90px;
  font-size: 23px;
  font-weight: 600;
  opacity: 0.6;
}
.wrapper_moveList .title_all_move {
  font-size: 25px;
  color: #696969;
  opacity: 0.4;
  font-weight: 600;
  margin-bottom: 2px;
}
.wrapper_moveList .spiner {
  margin-top: 10vh;
}
.wrapper_moveList .border_posters {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}
.wrapper_moveList .wrapper_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper_all {
  height: 100%;
  margin: 20px;
}

.wrapper_title_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  position: relative;
  top: -8px;
  font-size: 23px;
  font-weight: 600;
  opacity: 0.6;
}

.card_color {
  background-color: #393939 !important;
  color: white !important;
}