
.wrapper_moveList {
    

    .wrapper_title_app {
        display: flex;
        justify-content: space-around;
        align-content: flex-start;
        position: relative;
        top: -90px;
        font-size: 23px;
        font-weight: 600;
        opacity: 0.6;
    }

    .title_all_move {
        font-size: 25px;
        color: #696969;
        opacity: 0.4;
        font-weight: 600;
        margin-bottom: 2px;
    }

    .spiner {
        margin-top: 10vh;
    }

    // .wrapper_posters {
    
    // }

    .border_posters {
        border-right: 1px solid gray;
        border-left: 1px solid gray;
    }

    .wrapper_card {
        display: flex;
        gap: 10px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.wrapper_all {
    height: 100%;
    margin: 20px;
}

.wrapper_title_app {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    position: relative;
    top: -8px;
    font-size: 23px;
    font-weight: 600;
    opacity: 0.6;
}

.card_color {
    background-color: #393939 !important;
    color: white !important;
}

