.wrapper_footer {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    background: #393939;
    margin-top: 30px;
	width: 100%;
	height: 80px;

    .wrapper_logo {
        display: flex;
        align-items: center;
    } 

    .label_app {
        font-family: 'Handjet', cursive;
        color: #F0EBDF;
        font-size: 40px
    }

    .logo_app {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    } 

}