.wrapper_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
  background: #393939;
  margin-top: 30px;
  width: 100%;
  height: 80px;
}
.wrapper_footer .wrapper_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper_footer .label_app {
  font-family: "Handjet", cursive;
  color: #F0EBDF;
  font-size: 40px;
}
.wrapper_footer .logo_app {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}