.wrapper_moveList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 98%;
  height: auto;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper_posters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 60%;
  border-radius: 6px;
  min-height: 400px;
  height: 98%;
  padding: 10px;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper_title {
  font-size: 20px;
  font-weight: 600;
}

.wrapper_user_logo {
  width: 16%;
  border-radius: 50%;
}

.wrapper_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  gap: 8px;
  font-size: 15px;
  margin-top: 20px;
}

.wrapper_content_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  gap: 8px;
  font-size: 15px;
  margin-top: 20px;
}

.wrapper_content_test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  gap: 8px;
  font-size: 15px;
  margin-top: 20px;
  border: dashed #393939;
  border-radius: 9px;
  border-width: 3px;
}

.radioBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.radio {
  border-color: gray !important;
}

.wrapper_user_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border: solid #393939;
  border-radius: 9px;
  border-width: 3px;
  padding: 10px;
}

.wrapper_question_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.wrapper_user_logo {
  width: 10%;
  height: 80%;
}

.color_text_green {
  color: lime;
}

.color_text_red {
  color: red;
}