.wrapper_moveList {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    // display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_posters{
    display: flex;
    background-color: #393939;
    width: 60%;
    border-radius: 6px;
    min-height: 400px;
    height: 98%;
    padding: 10px;
    color: white;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.wrapper_title {
    font-size: 20px;
    font-weight: 600;
}

.wrapper_content {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 8px;
    font-size: 15px;
    margin-top: 20px;
}

.radioBlock {
    display: flex;
    gap: 10px;
}

.radio {
 border-color:gray !important;
}

.question_block {
    margin-bottom: 10px;
}