
.wrapper_moveList {
    display: flex;
    width: 98%;
    height: auto;
    margin: 0 auto;
    
    .title_error {
        font-size: 44px;
        color: #696969;
        font-weight: 600;
        margin-bottom: 2px;
    }

    .wrapper_error {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .title_front_dropped{
        font-size: 2rem;
    }

    .front_dropped {
        width: 7%;
    }
}