.wrapper_moveList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  height: auto;
  margin: 0 auto;
}
.wrapper_moveList .title_error {
  font-size: 44px;
  color: #696969;
  font-weight: 600;
  margin-bottom: 2px;
}
.wrapper_moveList .wrapper_error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper_moveList .title_front_dropped {
  font-size: 2rem;
}
.wrapper_moveList .front_dropped {
  width: 7%;
}